
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Street Fighter - @ViewBag.Title</title>
    <link href="~/Content/Estilos/main.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <ul>
            <li>@Html.ActionLink("Inicio", "Index", "StreetFighter")</li>
            <li><a target="_blank" href="https://www.google.com.br/?gws_rd=ssl#q=street+fighter&tbm=nws">Notícias</a></li>
            <li>@Html.ActionLink("Ficha Técnica", "FichaTecnica", "StreetFighter")</li>
            <li>@Html.ActionLink("Sobre Mim", "SobreMim", "StreetFighter")</li>
        </ul>
    </div>
    <div class="content">

        <div class="titulo">
            <h2>@ViewBag.Title</h2>
        </div>

        <div class="texto">
            @RenderBody()
        </div>
    </div>
</body>
</html>