<marquee>Preencha os campos abaixo para cadastrar um novo cavaleiro de Atena!</marquee>
<div id="toastErro" class="feedback-toast span12" style="display: none;">
    <div class="alert alert-error">
        <a class="close">x</a>
        <strong class="title">Ops!</strong>
        <span class="msg"></span>
    </div>
</div>
<div id="toastSucesso" class="feedback-toast span12" style="display: none;">
    <div class="alert alert-success">
        <a class="close">x</a>
        <strong class="title">Shimbalaiê!</strong>
        <span class="msg"></span>
    </div>
</div>
<form id="frmNovoCavaleiro" method="POST">
    <!-- nome -->
    <label for="txtNomeCavaleiro">Nome</label>
    <input id="txtNomeCavaleiro" type="text" name="nome" placeholder="Ex: Shiryu">
    <!-- tipoSanguineo -->
    <label for="slTipoSanguineo">Tipo Sanguíneo</label>
    <select id="slTipoSanguineo" name="tipoSanguineo">
        <option selected>Selecione</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="AB">AB</option>
        <option value="O">O</option>
    </select>
    <!-- dataNascimento -->
    <label for="txtDtNascimento">Data de nascimento</label>
    <input id="txtDtNascimento" type="text" name="dataNascimento" placeholder="Ex: 4/11/2016">
    <!-- altura em metros -->
    <label for="nbAlturaMetros">Altura (metros)</label>
    <input id="nbAlturaMetros" type="number" name="alturaMetros" placeholder="Ex: 1.76" min="0" step="0.01"> <!-- step: https://developer.mozilla.org/pt-BR/docs/Web/HTML/Element/Input -->
    <!-- peso em kilos -->
    <label for="nbPesoKilos">Peso (kilos)</label>
    <input id="nbPesoKilos" type="number" name="pesoKg" placeholder="Ex: 73.5" min="0" step="0.01">
    <!-- signo -->
    <label for="slSigno">Signo</label>
    <select id="slSigno" name="signo">
        <option selected>Selecione</option>
        <option value="Áries">Áries</option>
        <option value="Touro">Touro</option>
        <option value="Gêmeos">Gêmeos</option>
        <option value="Câncer">Câncer</option>
        <option value="Leão">Leão</option>
        <option value="Virgem">Virgem</option>
        <option value="Libra">Libra</option>
        <option value="Escorpião">Escorpião</option>
        <option value="Sagitário">Sagitário</option>
        <option value="Capricórnio">Capricórnio</option>
        <option value="Aquário">Aquário</option>
        <option value="Peixes">Peixes</option>
    </select>
    <!-- localNascimento -->
    <label for="txtLocalNascimento">Local de nascimento</label>
    <input id="txtLocalNascimento" type="text" name="localNascimento" placeholder="Ex: Porto Alegre">
    <!-- localTreinamento -->
    <label for="txtLocalTreinamento">Local de treinamento</label>
    <input id="txtLocalTreinamento" type="text" name="localTreinamento" placeholder="Ex: Alvorada">
    <!-- Adicionar golpe -->
    <button id="btnAdicionarGolpe" type="button">Adicionar golpe...</button>
    <ul id="novosGolpes"></ul>
    <!-- Adicionar imagem -->
    <button id="btnAdicionarImg" type="button">Adicionar imagem...</button>
    <ul id="novasImagens"></ul>
    <button type="submit" class="btn btn-primary">Cadastrar!</button>
</form>
<hr>
<button id="btnCriar">Criar fake!</button>
<div id="detalhes-cavaleiro"></div>
<ul id="cavaleiros"></ul>

<script>
    var urlCavaleiroPost = '@Url.Action("Post")';
</script>

@section scripts {
    <script src="~/Scripts/Models/Cavaleiros.js"></script>
    <script src="~/Scripts/Views/CavaleiroIndexView.js"></script>
    <script>
        new CavaleiroIndexView({
            errorToast: new FeedbackToast({
                element: $('#toastErro')
            }),
            successToast: new FeedbackToast({
                element: $('#toastSucesso')
            }),
            cavaleirosUi: $('#cavaleiros'),
            urlCavaleiroGet: '@Url.Action("Get")',
            urlCavaleiroGetById: '@Url.Action("GetById")',
            urlCavaleiroPost: '@Url.Action("Post")',
            urlCavaleiroDelete: '@Url.Action("Delete")',
            urlCavaleiroPut: '@Url.Action("Put")',
        }).render();
    </script>
}