@model CameloNinja.MVC.Models.UsuarioModel
@{
    ViewBag.Title = "Cadastrar Novo Usuário";
}


<h2>Cadastro de Usuário</h2>

@using (Html.BeginForm("SucessoCadastroUsuario", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div>
            @Html.ValidationSummary(excludePropertyErrors: false)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Nome) <br />
            @Html.TextBoxFor(m => m.Nome, new { required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email) <br />
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Senha) <br />
            @Html.PasswordFor(m => m.Senha, new
       {
           pattern = @"^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$",
           ErrorMessage = "A senha deve conter no mínimo 8 caracteres tendo que ter uma letra minúscula e uma maiúscula."
       })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RepitaASenha) <br />
            @Html.PasswordFor(m => m.RepitaASenha)
        </div>
        <div class="form-group">
            <input name="botao-envio" type="submit" value="Cadastrar" />
        </div>
    </div>
}
